body {
    margin: 0;
    background-color: #1F2937;
}



#div-main-el {
    width: 500px;
    height: 300px;
    padding: 50px   


}

#title-el {
    
}

#output-el {
    
}

#output1-el {
    
}

#output2-el {
    
}


.div-el {
    margin: 
}

